@import url(globalstyles.css);
#products {
  color: black;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 700px;
  margin-top: 30px;
}

.header-products {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  margin-bottom: 20px;
}
.header-products h1 {
  color: #fff;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}
.preco-nome {
  color: black;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 40px;
  color: white;
}
.img img {
  height: 200px;
  width: 200px;
}
